<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/resources/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/lib/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/lib/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/lib/angular-bootstrap/ui-bootstrap-csp.css"
          th:href="@{/resources/lib/angular-bootstrap/ui-bootstrap-csp.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/lib/angular/angular-csp.css"
          th:href="@{/resources/lib/angular/angular-csp.css}"/>
</head>
<body>
<div th:replace="layout :: #navbar"></div>
<div class="container-fluid">
    <div th:replace="layout :: #sidebar"></div>
    <div th:replace="layout :: #maincontent"></div>
    <div th:replace="layout :: #footer"></div>
</div>


<script type="text/javascript" src="/resources/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/resources/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/resources/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>